<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Contact' =>'#') %>
<% end %>

<div class='columns'>
  <div class='column is-6 is-offset-one-quarter'>

    <%= pageheader('Contact') %>

    <p>Send us a message.</p><br/>

    <%= form_for @contact_message do |f| %>

      <%= f.text_field_horizontal(:email) %>

        <div class="field is-horizontal">
          <div class="field-label"><!-- Left empty for spacing --></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <%#= recaptcha_tags hl: 'en' %>
              </div>
            </div>
          </div>
        </div>

      <%= f.text_area_horizontal(:message) %>
      <%= f.submit_button_horizontal(caption: 'Send message') %>

    <% end %>

  </div>
</div>
