<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Expense types' =>'#') %>
<% end %>

<%= content_for(:sidemenu) do %>

  <aside class="menu">
    <p class="menu-label">Config</p>
    <ul class="menu-list">
      <li><%= link_to 'Currencies', currencies_path %></li>
      <li><a class='is-active'>Expense Types</a></li>
      <li><%= link_to 'Payment Types', payment_types_path %></li>
    </ul>
  </aside>

<% end %>


<div>

  <%= pageheader('Expense Types') %>

  <%= table(['Name', 'Created at']) do %>
    <%= render @expense_types %>
  <% end %>

</div>
