<tr>
  <td id='user-name'><%= user.name %></td>
  <td id='user-email'><%= user.email %></td>
  <td id='user-admin'><%= user.admin %></td>
  <td id='user-created-at'><%= user.created_at %></td>
  <td id='user-updated-at'><%= user.updated_at %></td>
</tr>
