<%= form_for project, html: { class: 'form-horizontal' } do |f| %>
  <% if project.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p><strong>A problem has occurred while saving this project.</strong></p>
      </div>
      <div class="message-body">
        <strong><%= pluralize(project.errors.count, 'error') %> occurred</strong>
        <ul>
          <% project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </article>

  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label(:name, class: 'label') %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
           <%= f.text_field(:name, class: 'input') %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"><!-- Left empty for spacing --></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.submit(type: 'submit', id: 'add-button', class: 'button is-primary') %>
          <%= link_to('Back', projects_path, id: 'add-button', class: 'button') %>
        </div>
      </div>
    </div>
  </div>

<% end %>
