<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Projects' => projects_path, 'Edit Project' => '#') %>
<% end %>

<div class='container'>

  <div class='row'>
    <div class='col-md-6 col-md-offset-2'>

      <h1 class='pageheader'>Edit Project</h1>

      <%= form_for @project, html: { class: 'form-horizontal' } do |f| %>

        <% if @project.errors.any? %>
          <div class='alert alert-danger'>
            <strong>A problem has occurred while submitting your data.</strong>
            <p><%= pluralize(@project.errors.count, 'error') %> prohibited this Project from being saved.</p>
            <ul>
              <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.text_field_group(:name) %>
        <%= f.submit_button_group('Update project', id: 'update-project') %>

      <% end %>

    </div>
  </div>

</div>
