<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Dashboard' =>'#') %>
<% end %>

<div>

  <div class='tabs'>
    <ul>
      <li class="is-active"><a>Overview</a></li>

      <% @projects.each do |project| %>
        <li><%= link_to project.name, project %></li>
      <% end %>

    </ul>
  </div>

  <h4 class="title is-4">Projects</h4>

  <%= table(['Name', 'Outstanding amount','Total amount','']) do %>
    <%= render @projects %>
  <% end %>

  <%= link_to new_project_path, id: 'add-project', class: 'button is-primary' do %>
  <span class='icon'><i class="fa fa-plus"></i></span><span>Add project</span>
  <% end %>

</div>
