<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Projects' =>'#') %>
<% end %>

<div>

  <%= pageheader('Projects') %>

  <%= table(['Name', 'Created at', 'Updated at', '']) do %>
    <%= render @projects %>
  <% end %>

  <%= link_to new_project_path, id: 'add-project', class: 'button is-primary' do %>
  <span class='icon'><i class="fa fa-plus"></i></span><span>Add project</span>
  <% end %>

</div>
