<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Projects' => projects_path, 'Show project' => '#') %>
<% end %>

<div class='container'>

  <div class='row'>
    <div class='col-md-6 col-md-offset-2'>

      <h1 class='pageheader'>Show project</h1>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <p class="form-control-static"><%= @project.name %></p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Created at</label>
          <div class="col-sm-9">
            <p class="form-control-static"><%= @project.created_at %></p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Updated at</label>
          <div class="col-sm-9">
            <p class="form-control-static"><%= @project.updated_at %></p>
          </div>
        </div>
      </form>

      <%= link_to 'Back to list', projects_path, class: 'btn btn-default' %>

    </div>
  </div>
</div>
