<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Projects' => projects_path, 'Show project' => '#') %>
<% end %>

<div class='columns'>
  <div class='column is-half is-offset-one-quarter'>

    <%= pageheader('Show project') %>

    <table>
      <tr><th>Name</th><td><%= @project.name %></td></tr>
      <tr><th>Created at</th><td><%= @project.created_at %></td></tr>
      <tr><th>Updated at</th><td><%= @project.updated_at %></td></tr>
    </table>
    <br/>
    <%= link_to projects_path, class: 'button is-default' do %>
      <span class='icon'><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
      <span>Back to list</span>
    <% end %>
  </div>
</div>
