<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Payment types' =>'#') %>
<% end %>

<%= content_for(:sidemenu) do %>

  <aside class="menu">
    <p class="menu-label">Config</p>
    <ul class="menu-list">
      <li><%= link_to 'Currencies', currencies_path %></li>
      <li><%= link_to 'Expense types', expense_types_path %></li>
      <li><a class='is-active'>Payment types</a></li>
    </ul>
  </aside>

<% end %>

<div>

  <%= pageheader('Payment types') %>

  <%= table(['Name','Created at']) do %>
    <%= render @payment_types %>
  <% end %>

</div>
