<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Dashboard' =>'#') %>
<% end %>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Bulma</a></li>
    <li><a href="#">Components</a></li>
    <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
  </ul>
</nav>


<% content_for(:layout_full) do %>col-md-10 col-md-offset-1<% end %>

  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>

      <%= pageheader("Welcome #{@dashboard.user_name}") %>

      <br/>

      <h3>Projects</h3>

      <%= table(['Name', 'Outstanding','Total']) do %>
        <%= render partial: 'dashboards/project', collection: @dashboard.projects %>
      <% end %>

      <%= link_to 'Add project', new_project_path, class: 'btn btn-default' %>
      <%= link_to 'Manage projects', projects_path, class: 'btn btn-default' %>

    </div>
  </div>
