<nav class="navbar">

  <div class="navbar-brand">
    <%= link_to application_name, root_path, class: 'navbar-item' %>
  </div>

  <div class="navbar-menu">

    <div class="navbar-start">

      <% if is_admin? %>

        <%= link_to 'Users', users_path, class: 'navbar-item' %>
        <%= link_to 'Contact Messages', contact_messages_path, id: 'list-contact-messages', class: 'navbar-item' %>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link  is-active" href="#">Config</a>
          <div class="navbar-dropdown ">
            <%= link_to 'Currencies',    currencies_path,    id: 'list-currencies',    class: 'navbar-item' %>
            <%= link_to 'Expense Types', expense_types_path, id: 'list-expense-types', class: 'navbar-item' %>
            <%= link_to 'Payment Types', payment_types_path, id: 'list-payment-types', class: 'navbar-item' %>
          </div>
        </div>
      <% end %>

      <% if logged_in? %>
        <%= link_to 'Projects', projects_path, class: 'navbar-item' %>
      <% end %>

    </div>

    <div class="navbar-end">
      <% if logged_in? %>

        <div class='navbar-item'>
          <%= link_to '/accounts/show', class: 'button is-primary' do %>
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
            <span><%= user_name %></span>
          <% end %>
        </div>

        <div class='navbar-item'>
          <%= link_to logout_path, id: 'log-out', class: 'button is-default' do %>
            <span class="icon">
              <i class="fa fa-sign-out"></i>
            </span>
            <span>Sign out</span>
          <% end %>
        </div>

      <% else %>

        <div class='navbar-item'>
          <%= link_to login_path, id: 'log-in', class: 'button is-primary' do %>
            <span class="icon">
              <i class="fa fa-sign-in"></i>
            </span>
            <span>Sign in</span>
          <% end %>
        </div>

      <% end %>

    </div>

  </div>

</nav>

